<div class="umb-box" ng-controller="MediaInfo as vm">
    <div class="umb-box-header">
        <div class="umb-box-header-title">
            Media Info
        </div>
    </div>
    <div id="mediainfo" class="mediainfo__container">
        <div class="form-horizontal ng-scope">
            <!--repeat this element-->
            <div ng-repeat="item in data" class="umb-expansion-panel__content">
                <div class="umb-property ng-scope ng-isolate-scope">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label ng-binding">
                                {{item.Name}}
                            </label>
                            <div ng-if="item.Name === 'GPS' && mapUrl" class="controls">
                                <ul class="nav nav-stacked ng-scope">
                                    <li>
                                        <a href="{{mapUrl}}" target="_blank">
                                            <i class="icon icon-map-loaction"></i>
                                            <span class="ng-binding">View map</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>                                
                            <div ng-repeat="dataItem in item.Tags">
                                <div ng-if="dataItem.Name.substring(0,7) != 'Unknown'" class="controls">
                                    <div class="umb-property-editor db ng-scope ng-isolate-scope">
                                        <div disable-tabindex="preview" class="ng-isolate-scope">
                                            <div class="ng-scope">
                                                <div class="umb-property-editor umb-readonlyvalue ng-scope">
                                                    <span class="ng-binding">{{dataItem.Name}}: {{dataItem.Description}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>